<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>啦啦啦网</title>
  {%endif%}
	<style type="text/css">
	ul#nav{ width:100%; height:60px; background:#00A2CA;margin:0 auto}
	ul#nav li{display:inline; height:60px}
	ul#nav li a{display:inline-block; padding:0 20px; height:60px; line-height:60px;
	color:#FFF; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:16px}
	ul#nav li a:hover{background:#0095BB}/*设置鼠标滑过或悬停时变化的背景颜色*/
	</style>
</head>
<body>
<ul id="nav">
    <li><a href={%url 'depotapp:seller_store' user.id%}>店铺列表</a></li>
    <li><a href={%url 'depotapp:seller_list'%}>商品列表</a></li>
    <li><a href={%url 'depotapp:order_solved' user.id%}>已处理订单</a></li>
    <li><a href={%url 'depotapp:order_unsolve' user.id%}>待处理订单</a></li>
    <li><a href={%url 'depotapp:recharge' user.id%}>我的账户</a></li>
    <li><a href='/accounts/logout/'>退出登录</a></li>
</ul>
  {%block content%}{%endblock%}
</body>
</html>