{%extends "base2.html"%}
{%block content%}
<h1>待处理清单:</h1>
{%for order in order_list%}
{%if not order.seller_del%}
<p>
	<div><span>订单号：{{order.id}}</span>&nbsp;&nbsp;&nbsp;
	<div><i><img src='/static/images/{{order.product.img}}' alt="Hi!" /></i></div>
	<div><a href={%url 'depotapp:product_detail' order.product.id%}><strong>商品：{{order.product.title}}</strong></a></div>
	<div><i>单价：{{order.product.price}}</i></div>
	<div><i>数量：{{order.quantity}}</i></div>
	<div><i>总计：{{order.order_price}}</i></div>
	<div><span><i>店铺：{{order.product.store.store_name}}</i></span>&nbsp;&nbsp;&nbsp;<span><i>店长：{{order.seller}}</i></span></div>
	<div><i>买家：{{order.buyer}}</i></div>
	<div><i>下单时间：{{order.order_time}}</i></div>
	{%if not order.is_deliver%}
	<div>
		<span><b>待发货</b><span>&nbsp;&nbsp;&nbsp;
		<span><b><a href={%url 'depotapp:confirm_deliver' user.id order.id%}>发货</a></b><span>
	</div>
	{%else%}
	<div><b>已发货，正在配送中...</b></div>
	{%endif%}
	{%if order.is_receiver%}
	<div><b>已收货</b></div>
	{%else%}
	<div><b>待收货</b></div>
	{%endif%}
	<div></div>
	<hr>
</p>
{%endif%}
{%endfor%}
{%endblock%}