{%extends "base1.html"%}
{%block content%}
<h1>我的购物车</h1>
<p><a href='/accounts/logout/'>logout</a></p>
<p><a href={%url 'depotapp:clear_cart' user.id cart.id%}>清空购物车</a></p>
{%if productitem_list%}
{%for item in productitem_list%}
<p>
	<div><i><img src='/static/images/{{item.pro_item.img}}' alt="Hi!" /></i></div>
	<div><a href={%url 'depotapp:product_detail' item.pro_item.id%}><strong>{{item.pro_item.title}}</strong></a></div>
	<div><i>{{item.unit_price}}</i></div>
	<div><i>{{item.pro_item.store.store_name}}</i></div>
	<hr/>
</p>
<div><b>数量：{{item.quantity}}</b></div>
<div><b>价格：{{item.item_price}}</b></div>
<hr/>
{%endfor%}
{%endif%}
<div></div>
<hr/>
{%if cart.total_price%}
<div><b>待支付：￥{{cart.total_price}}</b></div>
<hr/>
<div><b><a href={%url 'depotapp:payment' user.id cart.id%}>立即支付</a></b></div>
{%endif%}
<div class="pagination">
    <span class="step-links">
        {% if productitem_list.has_previous %}
            <a href="?page={{ productitem_list.previous_page_number }}">上一页</a>
        {% endif %}
 
        <span class="current">
            第 {{ productitem_list.number }} 页/共 {{ productitem_list.paginator.num_pages }} 页
        </span>
 
        {% if productitem_list.has_next %}
            <a href="?page={{ productitem_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{%endblock%}