{%extends "base1.html"%}
{%block content%}
{%for product in product_list%}
<p>
	<div><i><img src='/static/images/{{product.img}}' alt="Hi!" /></i></div>
	<div><a href={%url 'depotapp:product_detail' product.id%}><strong>商品：{{product.title}}</strong></a></div>
	<div><i>价格：{{product.price}}</i></div>
	<div><i>店铺：{{product.store.store_name}}</i></div>
	<hr>
</p>
{%endfor%}

<div class="pagination">
    <span class="step-links">
        {% if product_list.has_previous %}
            <a href="?page={{ product_list.previous_page_number }}">上一页</a>
        {% endif %}
 
        <span class="current">
            第 {{ product_list.number }} 页/共 {{ product_list.paginator.num_pages }} 页
        </span>
 
        {% if product_list.has_next %}
            <a href="?page={{ product_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{%endblock%}