{%block content%}
<h1>店长：{{store.seller.username}}</h1>
<h2>店铺详情：</h2>
<hr/>
<p>
	<div><strong>店铺名：{{store.store_name}}</strong>&nbsp;&nbsp;&nbsp;<span>
		<a href={%url 'depotapp:store_detail_edit' store.id%}>编辑信息</a></span>
	</div>
    <div><i>店铺简介：{{store.description}}</i></div>
	<div><i>店铺注册时间：{{store.store_register_time}}</i></div>
	<div><i>店铺地址：{{store.store_addr}}</i></div>
    <div><i>店铺商品数：{{store.store_product_num}}</i></div>
	<div><i>店铺分类：{{store.store_type}}</i></div>
	<hr>
</p>
<h2>店铺商品清单：</h2>
<p><a href={%url  'depotapp:add_product' store.id%}>添加商品</a></p>
{%if product_list%}
{%for product in product_list%}
<p>
	<div><a href={%url 'depotapp:product_detail' product.id%}><strong>商品：{{product.title}}</strong></a></div>
	<div><i>价格：{{product.price}}</i></div>
	<div><i>上市时间：{{product.time_to_market}}</i></div>
	<hr>
</p>
{%endfor%}
{%endif%}
{%endblock%}